# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Temporary files
tmp/
temp/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# MacOS files
.DS_Store

# Temporary files created by express-fileupload
/tmp/

# Constants for the application
constants.js

