<h1>Bank CSV File Handler</h1>
<p>Select one or two CSV files to generate a summary CSV file.</p>
<form action="/generate" 
      method="post" 
      enctype="multipart/form-data">
  <input type="file" name="file1" />
  <input type="file" name="file2" />
  <button type="submit">Generate and upload CSV file</button>
</form>